<!-- <div class="container"> -->
    <!-- <div class="col-sm-6 col-sm-offset-3"> -->
        <!-- <h1><span class="fa fa-sign-in"></span> Login</h1> -->
        <!-- show any messages that come back with authentication -->

  
        <!-- <% } %> -->
        <!-- LOGIN FORM -->
<!--         <form action="/login2" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label>Remember Me</label>
                <input type="checkbox" class="form-control" name="remember" value="yes">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>
        <hr>
        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p> -->

        <!-- login-page -->
               {{#each message }}
            <div class="alert alert-danger">
                {{this}}
            </div>
            {{else}}
            <!--  nothing -->
            {{/each}}

        

    <div class="login log">
    <form action="/login2" method="post">
        <div class="login-grids">
            <div class="col-md-6 log">
                     <h3>Login</h3>
                     <p>Welcome, please enter the following to continue.</p>
                     <p>If you have previously Login with us, <a href="#">click here</a></p>
                     <form>
                         <h5>User Name:</h5>    
                         <input type="text" value="" name="username">
                         <h5>Password:</h5>
                         <input type="password" value="" name="password">                   
                         <input type="submit" value="Login">
                          
                     </form>
                    <a href="#">Forgot Password ?</a>
            </div>

            <div class="col-md-6 login-right">
                    <h3>New Registration</h3>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                    <a href="/signup2" class="hvr-bounce-to-bottom button">Create An Account</a>
            </div>
            <div class="clearfix"></div>
        </div>
        </form>
    </div>
    
